@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

.form-signin {
    width: 100%;
    max-width: 400px;
    padding: 15px;
    margin: auto;
}

.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

/* Chat Page */

.table-user{
    position:relative;
    margin-left: 2px;
    width: 6em;
    padding: 0.25em;
    border-top: 2px dotted red;
    /* margin:auto; */
    padding-top:0;
    font-family: 'Roboto';
        color: brown;
        font-weight: bold;
        text-decoration-line: underline;
        text-decoration-style: double;
}
.err-msg{
    word-break: break-all;
    text-align: left;
    width: 36em;
    border-top: 2px dotted red;
}
.err-msg-txt{
    color: red;
}

.join-msg-txt {
    color: rgb(21, 175, 39);
    border-bottom: 2px dotted green;;
}
.leave-msg-txt {
    color: rgb(245, 108, 50);
}

.chatwindow{
    width: 45%;
}
#chat-box{
    overflow-y: auto;
    height: 22em;
    background-color: rgb(252, 254, 255);
    display: flex;
    flex-direction: column;
    border: solid black 4px;
}
#chat-box-table{
    width: 85%;
    /* border:1px solid black; */
    margin-top: 20px;
    margin-left:4px;
}
#inputsend{
    margin-top: 2px;
        /* margin-bottom: 1em; */
    display: flex;
    justify-content: center;
}
#chat{
    padding-top: 0.35em;
    width: 100%;
}
#text{
    padding: 0.47em;
}
#send{
    margin-left: 0.5em;
    padding-top: 0.5em;
    padding-bottom: 0.48em;
}
h2 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

